<br>
<br>
<br>
<h1>New User:</h1>
<form accept-charset="UTF-8" action="/users/new" method="get">
  <label for="username">Username:</label>
  <input type="text" name="username" id="username">
  <label for="email">Email:</label>
  <input type="text" name="email">
  <label for="password">Password</label>
  <input type="password" name="password">
  <input type="submit" value="submit">
</form>
